$color: #005e9f
$light: rgba(255, 255, 255, 0.5)
$dark: rgba(0, 0, 0, 0.5)
$shadow: 1px 1px 2px $dark
$font-size: 11pt
$font-family: arial, sans-serif
$font: $font-size $font-family
$radius: 8px

$width: 720px
$header-height: 75px
$nav-width: 160px


@font-face
  font-family: Delicious
  font-weight: bold
  src: url('Delicious-Bold.otf')


*
  outline: none


body
  color: $color
  font: $font
  line-height: 1.5em

  background: #78a9ff url('bg.png') 0 75px repeat-x

  margin: $header-height auto 8px auto
  width: $width


a img
  border-width: 0


h1
  color: #f5d900
  font-size: 24pt
  text-align: right
  text-shadow: $shadow

  margin: 0 0 16px 0


h2
  color: #fff
  font-size: 18pt
  text-shadow: $shadow

  margin: 0 0 8px 0


form
  input[type=text]
    color: #333

    border: 1px solid #ccc

    width: 100%


.hidden
  visibility: hidden


a.new, a.delete
  color: lighten($color, 10%) !important
  text-align: center

  &:hover
    color: $color !important


div#notice
  color: #660
  font:
    size: 8pt
    weight: bold

  background-color: #ff6
  border-radius: 0 0 $radius $radius

  padding: 0 12px
  position: fixed
  top: 0
  z-index: 1

  cursor: default


div#header
  color: #fff
  font:
    family: 'Delicious', sans-serif
    size: 48pt
    weight: bold
  letter-spacing: -0.05em
  text-shadow: $shadow

  background: #00717b url('bg-header.png') repeat-x

  position: absolute
  top: 0
  left: 0
  width: 100%
  height: $header-height

  a
    color: inherit
    text-decoration: none

  div
    margin: 36px auto
    width: $width

    span
      font:
        size: 20pt
        weight: bold
      letter-spacing: 0.5pt

      float: right
      margin-top: 14px /* Should be vertical-align. */


div#nav
  float: left
  width: $nav-width

  ol
    list-style: none

    padding-left: 0

    li
      color: $color
      font-weight: bold
      line-height: 1.2em

      margin-bottom: 16px

      a
        color: inherit
        text-decoration: none

        &:after
          content: '\25b8'

          margin-left: 0.5em
          visibility: hidden

        &:hover:after
          visibility: visible

      a, span
        border-bottom: 2px solid $light
        display: block

      li
        font-size: 10pt
        font-weight: normal

        margin-bottom: 2px

        a
          border-width: 0

  form
    ol.fields
      li
        margin-bottom: -5px
        &:last-child
          margin-bottom: 0

    input
      font-size: 10pt

      width: 100%

    label
      display: none

  div#countdown
    color: #fff
    font:
      family: 'Delicious', sans-serif
      size: 18pt
      weight: bold
    text-shadow: $shadow


div#content
  margin: 100px 0 0 $nav-width

  background:
    image: url('bg-content.png')
    repeat: repeat-x
  border-radius: $radius

  div
    padding: 16px
    position: relative
    min-height: 4px

    &:hover
      background-color: $light

    &.show
      background-color: inherit !important

    &:first-child
      border-top:
        left-radius: $radius
        right-radius: $radius

    &:last-child
      border-bottom:
        right-radius: $radius
        left-radius: $radius

    &#sections
      padding: 0
      &:hover
        background-color: inherit
      &.show
        background-color: inherit !important
      div
        &:first-child
          border-radius: 0
        &:last-child
          border-radius: 0
        &:hover
          a.delete
            display: block
        a.delete
          color: $color
          font:
            size: 8pt
          text-decoration: none
          display: none
          padding: 2px 8px 0 8px
          position: absolute
          top: 0
          right: 0
          &:hover
            background-color: #fff

    a.edit, a.new
      color: $color
      font-weight: bold
      text-align: center
      text-decoration: none

      padding-top: 8px
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

    img
      float: right
      border-radius: $radius



  form
    ol
      list-style: none

      margin: 0
      padding: 0
      width: 100%

      li
        label
          display: none

        input[type=text]
          font-size: 11pt

          margin-bottom: 4px
          padding: 0

        input[name$='[title]']
          font-weight: bold
          text-shadow: $shadow

        input#page_title
          font-size: 24pt
          text-align: right

        input#section_title
          font-size: 18pt

        textarea
          font: $font
          line-height: 1.5em

          border: 1px solid #ccc

          margin-bottom: 4px
          padding: 0
          width: 100%
          height: 12em

        img
          float: none
          margin: 8px 8px -36px 0
          cursor: pointer
          &:hover
            opacity: 0.75

    ol.actions
      text-align: right



div#footer
  font-size: 8pt
  text-align: center

  margin-top: 8px

  a
    color: $color
    text-decoration: none
