$background: #78a9ff

*
  outline: none

body
  background-color: $background

  color: #005e9f
  font: 11pt arial, sans-serif
  line-height: 1.5em

  margin: auto
  width: 600px

a img
  border-width: 0


h1
  color: #f5d900
  font: bold 24pt
  text-align: right
  margin: 0 0 8px 0

h2
  color: #fff
  font: bold 18pt
  margin: 0 0 8px 0

div#content
  div
    position: relative
    padding: 16px
    &:hover
      background-color: lighten($background, 10%)
    a.edit
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  a#new_section
    color: inherit
    font-weight: bold
    text-align: center
    text-decoration: none
    display: block
    padding: 16px
    width: 100%
    &:hover
      background-color: lighten($background, 10%)
      text-decoration: underline
